/*------------
    RESET
------------*/    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------
   GENERAL
------------*/  
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}  
i{
    padding-right: 5px;
}
ul{
list-style: none;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
/*------------
  BUTTON
------------*/  
.btn{
    background-color: transparent;
    border-radius: 20px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
.btn-large{
    font-size: 16px;
    padding: 14px 20px;
}
.btn-white{
    background-color: white;
    color: black;
}
.btn-black{
    background-color: black;
    color: white;
}
.btn-purple{
    background-color: #8ea1e1;
    color: white;
}
/*------------
   TYPHOGRAPHY
------------*/  
body{
    font-family: "Roboto", serif;
    line-height: 1.5;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
}
p{
    padding: 20px 0;
}
h2{
    font-size: 40px;
    margin-top: 30px;
}
h3{
    font-size: 30px;
    margin-bottom: 30px;
}
h4{
    font-size: 20px;
}
/*------------
   HEADER
------------*/  
header{
    color: white;
}  

.header-top {
    padding: 15px 0;
    background-color: #3161e0;
}

.header-top > .container {
    display: flex;
    align-items: center;
}
.header-top .container  {
    padding: 6px;
}
.header-top .logo, .header-top .login{
    width: 20%;
}
.header-top .login{
    text-align: right;
}

.header-top nav{
    flex-grow: 1;
    text-align: center;
}
nav ul{
    display: flex;
    gap: 30px;
    justify-content: center;
}
nav ul a{
    text-decoration: none;
    color: inherit;
}
.header-bottom {
    padding: 150px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}
.header-bottom .container {
    max-width: 900px;
    text-align: center;
}
.btn-large ,.btn-black{
    margin-left: 20px;
}

/*------------
   MAIN
------------*/ 

.section-top > .container{
    display: flex;
    padding: 40px 0;
}
.section-top .big{
    width: 65%;
}
.section-top .small{
    width: 35%;
    text-align: left;
}

.section-center{
    background-color:#d3d3d3 ;
}
.section-center > .container{
    display: flex;
    padding: 40px 0;
}

.section-center .big{
    width: 65%;
    text-align: right;
}
.section-center .small{
    width: 35%;
}

.section-bottom {
    padding-top:40px;
    padding-bottom: 80px;
    background-color: #d3d3d3;
}
.section-bottom .container {
    text-align: center;
}

/*------------
    FOOTER  
------------*/ 
footer{
    background-color: #23272a;
    color: white;
}
.footer-top > .container{
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer-top .small{
    width: 18%;
    padding-top: 40px;
}
.small ul li:first-child,.big ul li:first-child{
    color: #7289da;
}
.small li, .big li{
    padding-bottom: 14px;
}
.big li i{
    padding-right: 30px;
}
.footer-top .big{
    width: 28%;
    padding-top: 40px;
}
.flag{
    width: 28px;
    height: 16px;
    padding-right:4px;
}

.footer-top{
    border-bottom: 1px solid #7289da;
}
.footer-bottom > .container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-top: 20px;
}

